.connectionBlock {
  padding-top: 5px;
}

.padding10 {
  padding: 10px;
}

.controlsBlock {
  text-align: right;
}

.controlsButton {
  margin-left: 5px !important;
}

.deleteDialogItemBlock {
  margin: 5px !important;
}

.connectionActive {
  background-color: lightgreen !important;
}

.connectionError {
  background-color: #ff9696 !important;
}
